* {
	box-sizing: border-box;
}
html {
	width: 100%;
	min-height: 100%;
}
body {
	font-family: 'Poppins';
	font-weight: 400;
	color: #555;
	font-size: 13px;
	width: inherit;
	min-height: inherit;
	overflow-x: hidden;
}
div.swiper-pager {
	display: inline-block;
}
div#common-home.container {
	clear: left;
	padding: 0 20px;
	width: 85%;
}
div.container {
	left: 0;
	padding: 0 5px;
}
div.row {
	left: 0;
	width: 100%;
	clear: both;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: #909090;
}
/* default font size */
.fa {
	margin: 2px;/*t r b l*/
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h1#contact-h1 {
    color: #444444;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
h3#contact-h3 {
    color: #444444;
    font-size: 21px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2 {
	font-size: 27px;
    padding-left: 10px;
}
h3 {
	float: left;
	font-size: 30px;
	padding: 10px;
	display: block;
	clear: both;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
}
a {
    outline : none;
	color: #969799;
}
a:hover {
    outline : none;
	text-decoration: none;
	color: #1d234f;
}
legend {
	font-size: 18px;
	padding: 7px 0px;
	color: #e71d36;
}
label {
	font-size: 12px;
    font-family: 'Roboto', sans-serif;
	font-weight: normal;
	padding: 7px 15px 0px;
}
label#lang-label {
    display: none;
}
select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
	font-size: 12px;
}
.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
	display: inline;
}
.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* top - first top menu 13.10.19-changed to furni*/
#top {
	border-bottom: 1px solid #f1f1f1;
	background-color: #373839;
	padding: 14px 0;
}
ol, ul {
	margin-bottom: 0;
}
#top #form-currency .currency-select, #top #form-language .language-select {
	text-align: left;
}
#top #form-currency .currency-select:hover, #top #form-language .language-select:hover {
	text-shadow: none;
	background-color: rgba(213, 222, 211, 0.5);
}
#top .btn-link, #top-links li, #top-links a, #top span, #top a {
	color: #cccccc;
	padding: 0;
	text-decoration: none;
	font-size: 13px;
}
#top-links .dropdown-menu a {
	text-shadow: none;
	color: #000000;
}
#top .btn-link strong {
	line-height: 14px;
	font-size: 13px;
}
#top-links a+a {
	margin-left: 15px;
}
/*14.10.19 start*/
#top a:hover,#top span:hover, #top .btn-link:hover span, #top .btn-link:hover {
	color: #e71d36;
}
#top .btn-link, #top-links li, #top-links a {
	text-transform: capitalize;
}
#top-links .dropdown-menu a:hover {
	color: #e71d36;/*red*/
	background-color: transparent;
}
#top-links li .dropdown-menu li {
	margin: 0 15px;
}
#top-links li{
	margin-left: 30px;
	position: relative;
	display: inline-table;
}
#top-links li::after {
	background-color: #5f6061;
	content: "";
	height: 17px;
	position: absolute;
	right: -19px;
	top: 0px;
	width: 1px;
	border-left: 1px solid #5f6061;
	display: inline-block;
}
#top-links li .dropdown-menu li::after {
	display: none;
}
#top-links .dropdown-menu {
    opacity: 0;
    -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    -o-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    visibility: hidden;
    display: block !important;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    margin-top: 20px;
}
#top-links .hvr-btn:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    margin-top:3px;
    filter: alpha(opacity=100);
}
.top-right {
    float: right;
}
.list-inline.right {
     float: right;
}
/*14-16.10.19 end*/
/*12.10.19*/
.col-sm-4.right-top-links {
    width: 50%;
    float: right;
}
.col-sm-4.left-top-links {
    width: 25%;
    float: left;    
}
ul.list-inline i {
    text-align: center;
}
#top .currency-select.btn.btn-link.btn-block, #top .btn.btn-link.btn-block.language-select {
    color: #444;
}
/* search */
#search {
	margin-top: auto;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	padding: 10px;
	text-shadow: 0 1px 0 #FFF;
}
/*12.10.19*/
.btn.btn-default.btn-lg {
    border: none;
}
/* cart */
#cart {
	margin-top: 0;
}
span#cart-total {
	padding-right: 0;
}
#cart>.btn {
	font-size: 12px;
	line-height: 18px;
	width: fit-content;
	color: #CCCCCC;
    background-color: #373839;
    border: none;
    box-shadow: none;
    padding: 0px;
}
#cart.open>.btn {
	background-image: none;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open>.btn:hover {
	color: #FFF;
}
#cart .dropdown-menu {
    color: #111;
	background: #eee;
	z-index: 1001;
    display: inline-block;
}
#cart .dropdown-menu {
	display: inline-block;
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li>div {
	min-width: 427px;
	padding: 0 10px;
}
#cart .dropdown-menu li p {
    color: #111;    
	margin: 20px 0;
}
div#cart {
	display: inline-block;
}
.btn-group.show {
  display: inline-block;
}
/*12.10.19*/
.col-sm-3.cart-details {
    width: fit-content;
    border: none;
}
.btn-block { 
    width: fit-content;
}
.btn.btn-inverse.btn-block.btn-lg.dropdown-toggle {
    padding: 9px 2px;
}
.btn-group.btn-block {
    margin: 0;
}
/* menu */
#menu .nav>li>a {
    font-weight: 500;
    padding: 11px 27px;
    display: block;
    text-transform: capitalize;
    position: relative;
    letter-spacing: .7px;
    margin: 0;
    color: #000000;
	border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in;
}
#menu .nav>li>a:hover, #menu .nav>li.open>a {
	color: #ffffff;/*color when top-menu is hover*/
    text-decoration: none;
    background-color: #373839;/*background-color when top-menu is hover*/
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table-cell;
}
/*22.10.19 s*/
h5.menu-header {
    border-bottom: 1px #373839e5 solid;
    color: #373839;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 10px 20px;
	clear: both;
	line-height: 20px;
	color: #888888;
	font-size: 15px;
}
#menu .dropdown-inner li a:hover {
	color: #000000;
	background: none;
}
.main-menu>ul>li.top_level:hover>a, .main-menu>ul>li.top_level.dropdown:hover>a {
    color: #ffffff;
    text-decoration: none;
    background-color: #373839;/*background's color when dropdown items are hover*/
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
#menu ul>li.top_level.dropdown:hover>a, #menu ul>li.top_level:hover>a {
    color: #ffffff;/*color when dropdown items are hover*/
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 15px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 18px;
	font-weight: 700;
	line-height: 50px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 7px 17px;
	float: right;
	background-color: #373839;
}
#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
	color: #ffffff;
}
#content {
	min-height: 600px;
}
footer {
    background: url("../image/bg-footer.jpg") repeat left 0;
    font-family: Arial, Helvetica, sans-serif;
	margin-top: 30px;
	margin-bottom: 0;
	padding: 15px;
	background-color: #1b1b1b;
	border-top: 1px solid #ddd;
	color: #909090;
}
footer li {
    font-family: Arial, Helvetica, sans-serif;
	padding: 1px;
}
footer hr {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer a {
	color: #909090;
	font-size: 12px;
	outline : none;
}
footer a:hover {
	color: #fff;
}
footer h5 {
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #909090;
    margin-bottom: 20px;
}
i.fa.fa-mobile {
  font-size: x-large;
  margin-top: 0;
}
i.fa.fa-mobile+span {
  transform: translate(35px, -23px);
  display: block;
}
/*23.10.19*/
footer div.container {
    padding: 0;
}
footer .connect-with-us i {
    font-size: 16px;
    min-width: 32px; 
}
footer li {
    padding: 5px;
}
.alert {
	padding: 8px 14px 8px 14px;
}
.breadcrumb {
	margin: 10px;
	background: none;
}
.breadcrumb i {
	font-size: 18px;
	color: #90909;
}
.breadcrumb>li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0;
	position: relative;
	white-space: nowrap;
	font-size: 15px;
}
.breadcrumb>li+li:before {
	content: '>';
	padding: 0 5px 0 0;
	color: #909090;
	font-size: 15px;
}
.pagination {
	margin: 0;
}
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 5px;
	font-size: 12px;
	border-radius: 4px;
	margin-left: 0px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
	font-size: 14px;
}
.btn-group>.btn-xs {
	font-size: 9px;
}
.btn-group>.btn-sm {
	font-size: 10.2px;
}
.btn-group>.btn-lg {
	font-size: 15px;
}
/*12.10.19*/
.btn-default {
	color: #fff;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
	background-color: #909090;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: rgb(67, 67, 67);
	background-repeat: repeat-x;
	border-color: rgb(130, 130, 130) rgb(100, 100, 100) rgb(67, 67, 67);
}
.pull-right .btn.btn-primary {
	color: #ffffff;
	background-color: #e71d36;
	border: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
	background-color: rgb(67, 67, 67);
	background-position: 0 -15px;
}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: rgb(67, 67, 67);
	border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #444;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
	background-repeat: repeat-x;
	border-color: #EEE #EEE #EEE;
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
	background-color: #eee;
	background-image: linear-gradient(to bottom, #bbb, #bbb);
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	margin-bottom: 10px;
	overflow: visible;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
	outline : none;
}
.product-thumb .image a:hover {
	opacity: 1;
}
.product-thumb .image img {
    outline : none;
	margin: auto;
	display: block;
	border: 0;
	/*width: 95%;*/
	/*object-fit: none;*/
	/*height: 400px;*/
	/*object-position: top;*/
}
.product-grid .product-thumb .image {
	float: none;
}
.product-thumb h4 {
	font-weight: bold;
	height: 45%;
	text-align: center;
}
.product-thumb .caption {
	padding: 0 15px;
	font-size: 18px;
	height: 75px;
	/*font-family: 'Assistant', 'Arial';*/
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star+.fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #f96243;/*orange*/
	text-align: center;
	font-size: 14px;
	font-weight: 600;
}
div.caption h4 a {
    font-weight: 400;
    text-align: center;
    font-size: 15px;
    color: #333333;
}
.product-thumb .price-new {
	font-weight: 800;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 12px;
	display: block;
}
.product-thumb .button-group {
	background-color: transparent;
	overflow: auto;
}
.product-thumb .button-group button {
	border: none;
	display: inline-block;
	width: 12%;
	height: 11%;
	padding: 3% 3% 5% 3%;
	background-color: #fffffff0;
	color: crimson;
	font-weight: bold;
	text-align: center;
	position: absolute;
	border-radius: 100%;
	text-transform: uppercase;
	font-size: 22px;
    right: 12%;
    top: 14%;
}
.product-thumb .button-group button+button {
   right: 12%;
    top: 2%;
    color: white;
    background-color: crimson;
}
.product-thumb .button-group button:hover {
	/* color: #ff5f3f; */
	color: #f96243;
	text-decoration: none;
	cursor: pointer;
}
.thumbnails {
	overflow: hidden;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails>li {
	margin: 10px;
}
.thumbnails>img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.thumbnails .image-additional {
	float: left;
	margin: 5px;
}
/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
	width: 100%;
}
/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}
/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
/*14.10.19 start*/
.button-wrap {
	float: left;
	width: 100%;
	z-index: 999;
	position: absolute;
	height: 20px;
	bottom: 92px;
}
.button-wrap ul {
	padding: 0;
	float: left;
	width: 100%;
}
.button-wrap ul li {
	list-style: none;
	display: inline-block;
	width: 90%;
	height: 44px;
	float: left;
	margin:auto;
	object-position: center;
	position: absolute;
	top: -60px;
	left: 10px;
}
.button-wrap ul li a {
	display: block;
	width: 90%;
	border-radius: 20px;
	-webkit-border-radius: 0;
	-moz-border-radius: 100px;
	background: rgba(255,255,255,0.8);
	border: 0px solid #ccc;
	transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	font-size: 14px;
	padding: 10px 0px;
	text-align: center;
	cursor: pointer;
	color: #222;
	margin: auto;
	line-height: 1.6;
}
.button-wrap i {
	margin-right: 8px;
}
.product-layout .product-thumb .image {
    position: relative;
}
.product-layout .product-thumb .only-hover ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    width: max-content;
    top: 30%;
    right: 20%;
}
.product-layout .product-thumb:hover .only-hover ul {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}
.product-layout .product-thumb .only-hover ul li {
    display: inline-block;
    padding: 5px 1px 5px 0px;
    vertical-align: top;
    width: 45px;
    height: 45px;
}
.product-layout .product-thumb .only-hover ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    -webkit-border-radius: 0;
    -moz-border-radius: 100px;
    background: #fff;
    border: 0px solid #ccc;
    transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    font-size: 15px;
    padding: 9px 0px;
    text-align: center;
    cursor: pointer;
    color: #222;
    outline : none;
}
.product-layout .product-thumb .only-hover ul li a:hover {
    background: #1d1124 !important;
    border-color: #1d1124 !important;
    color: #fff;
}
/*14.10.19 end*/
/*nofar 8.10.19*/
.both {
	padding: 5px;
}
.sb-theme-free-ship {
	padding-top: 10px;
	letter-spacing: 1px;
	color: #fff;
	font-size: 13px;
}
.sb-theme-free-ship i {
	font-size: 18px;
}
.shipping-inner {
	overflow: hidden;
	font-size: 13px;
	text-align: left;
	color: #333;
	line-height: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	padding: 15px 0;
}
.shipping-inner i {
	border: 1px #00b9f5 solid;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	font-size: 20px;
	color: #00b9f5;
	text-align: center;
	line-height: 38px;
	margin-top: 0;
	float: left;
}
.shipping-inner h3 {
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1px;
	margin-top: 5px;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.shipping-inner .content {
	text-align: left;
	text-transform: none;
	color: #999;
	font-size: 12px;
	letter-spacing: 0.5px;
}
.deliveryinfo ul {
	margin: 0;
	padding-left: 0;
	border-right: 1px solid #dcdcdc;
}
.deliveryinfo ul li {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	color: #1d234f;
}
.deliveryinfo ul li h4 {
	text-transform: capitalize;
	letter-spacing: 1px;
	margin-bottom: 3px;
}
div.d-to {
	background-color: #f7f7f7;
	margin: 10px;
	padding: 10px 0;
	width: auto;
}
/*gallery-grid*/
.gallery-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.gallery-column {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}
.gallery-column img {
    border: 0;
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
.grid-gallery-img {
    border: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
    max-width: 500px;
}
.grid-gallery-img img {
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    height: auto;
    z-index: 1;
    opacity: 1;
}
.grid-gallery-img .grid-gallery-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -85%);
  -ms-transform: translate(-50%, -85%);
  background-color: #f5f5f5;
  color: #1d234f;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
}
.grid-gallery-img .grid-gallery-btn:hover {
  background-color: #eee;
}
@font-face {
  font-family: 'Origo';
  src: url('../fonts/origo.woff') format('woff');
}
.grid-gallery-txt {
    font-family: "Origo";
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
}
/*14.10.19*/
#logo {
    width: 60%;
    padding-top: 5px;
}
#top .logo {
    margin-right: 0;
}
#logo img {
    margin: auto;
    margin-right: 0;
}
h3.h3-featured-title {
    border-bottom: 2px solid #ddd;
    line-height: 40px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #495057;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
    float: initial;
    padding-bottom: 0;
}
h3.h3-featured-title:after {
    content: "";
    width: 100px;
    height: 2px;
    position: relative;
    bottom: -2px;
    z-index: 2;
    display: table;
    background: #fe5722;
    margin: 0 auto;
}
.custom-services .row.box-polyci .col-lg-3.col-md-6.col-sm-6.wow {
    padding: 0 4px;
}
/*15.10.19 start*/
.custom-services {
    margin-bottom: 30px;
}
.custom-services .banner-info {
    padding: 21px 1px 18px;
    margin-bottom: 5px;
    transition: all 250ms ease-in-out;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background: #f2f2f2;
    height: 80px;
    border: 2px solid transparent;
}
.custom-services .banner-info:hover {
    border-color: #fe5722;
    background: #fff;
}
.custom-services .banner-info img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.custom-services .banner-info .banner-cont {
    display: inline-block;
    text-align: left;
    position: absolute;
    left: 120px;
}
.custom-services .banner-info .banner-cont a {
    color: #444;
    font-size: 14px;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}
.custom-services .banner-info .banner-cont p {
    font-size: 12px;
    margin: 0;
    line-height: 100%;
    color: #999;
}
.banner-info .inner img {
    height: 40px;
    width: auto;
    position: absolute;
    left: 40px;
}
.banner-info.banner-info3 .inner img, .banner-info.banner-info4 .inner img {
    height: 50px;
    width: auto;
    margin-bottom: -10px;
    transform: translate(10px, -5px);
}
.banner-info.banner-info1 .inner img {
    width: 60px;
    height: 52px;
    margin-bottom: -10px;
    transform: translate(4px, -8px);
}
/*16.10.19 start*/
.recommended-item-control {
    position: absolute;
    top: 37%;
    margin: 0 -28px;
}
.recommended-item-control i {
    color: #c0c0c0;
    font-size: 24px;
    padding: 4px 10px;
    transition: .5s;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all .3s ease 0s;
}
.recommended-item-control i:hover {
    background: none repeat scroll 0 0 #fe5722;
    color: #FFFFFF;
}
.right {
    right: 0;
}
.images-group.small {
    display: inline-block;
    margin: auto;
}
/*16.10.19 end*/
/*19.10.19 start*/
.images-group.top {
     margin-bottom: 30px;
     margin-top: 10px;
}
.images-group.bottom {
        display: inline-block;
        margin: auto;
        height: 50%;
        margin-bottom: 0;
    }
.text-center {
	text-align: center;
}
.slick-wrap {
	position: relative;
	overflow: hidden;
	max-width: 2050px;
	margin-left: auto;
	margin-right: auto;
}
.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* Dots */
.slick-slider {
	margin-bottom: 30px;
}
.slick-style-1 {
	margin-bottom: 0;
}
.slick-style-1 .slick-arrow {
	display: none !important;
}
.slick-style-1 .slick-slide {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 30px;
}
/*19.10.19 end*/
.images-group.col-xs-12.col-sm-12.col-md-3.col-lg-3 {
    clear: none;
}
.images-group.bl3, .images-group.ye2, .images-group.lb1, .images-group.re5, .images-group.pu4, .triple-group {
    padding-right: 2px;
    padding-left: 2px;
}
#five-layout .images-group.col-xs-12.col-sm-12.col-md-3.col-lg-3 {
    clear: none;
}
/*15.10.19 start*/
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(3n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear: left;
	}
		/*16.10.19*/
	#content .product-layout.col-md-3:nth-child(4n+0) {
		display: none;
	}
}
@media (min-width: 678px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear: left;
	}
	/*16.10.19*/
	#content .product-layout.col-md-3:nth-child(2n+1) {
		display: none;
	}
	div.image-ad {
		padding: 10px;
    }
}
/*20.10.19 start*/
@media (min-width: 768px) {
	.slick-style-1 {
		margin-left: -17px;
		margin-right: -17px;
		width: calc(100% + 34px);
		pointer-events: none;
	}
	.slick-style-1 .slick-wrapper {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		will-change: transform;
		backface-visibility: hidden;
	}
	.slick-style-1 .slick-dots {
		display: none !important;
	}
	.slick-style-1 .slick-slide {
		position: relative;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		margin-top: 30px;
		margin-bottom: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
		cursor: pointer;
		z-index: 0;
	}
	.slick-style-1 .slick-slide:not(.slick-center) .thumb-ann__caption {
		outline: none;
		border: 0;
		opacity: 0;
	}
	.slick-style-1 .slick-active {
		z-index: 2;
		outline: none;
		border: 0;
		pointer-events: auto;
	}
	.slick-style-1 .slick-slide-caption {
		position: relative;
		transform: translate3d(-70px, 0, 0);
		transition: transform .5s;
		will-change: transform;
		padding: 15px;
		background: #ffffff;
	}
	.slick-style-1 .slick-slide-caption::before, .slick-style-1 .slick-slide-caption::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		transition: opacity .22s;
	}
	.slick-style-1 .slick-slide-caption::before {
		z-index: 2;
		border: 15px solid #ffffff;
		box-shadow: 0 0 9px 0 rgba(1, 3, 4, 0.12);
		opacity: 0;
		outline: none;
		border: 0;
	}
	.slick-style-1 .slick-slide-caption::after {
		background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
		opacity: 1;
	}
	.slick-style-1 .slick-slide-inner {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-flex-shrink: 0;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		pointer-events: none;
		outline: none;
		border: 0;
		width: calc(100% + 200px);
	}
	.slick-style-1 .slick-center {
		overflow: visible;
		z-index: 3;
		outline: none;
		border: 0;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.slick-style-1 .slick-center .slick-slide-caption {
		transform: translate3d(0, 0, 0) scale3d(1.165, 1.165, 1.165);
	}
	.slick-style-1 .slick-center .slick-slide-inner {
		pointer-events: auto;
	}
	.slick-style-1 .slick-center .slick-slide-caption::before {
		opacity: 1;
	}
	.slick-style-1 .slick-center .slick-slide-caption::after {
		opacity: 0;
	}
	.slick-style-1 .slick-center + .slick-slide {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.slick-style-1 .slick-center + .slick-slide .slick-slide-caption::after {
		background: linear-gradient(to left, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
	}
	.slick-style-1 .slick-center + .slick-slide .slick-slide-caption {
		transform: translate3d(70px, 0, 0);
	}
	.sitelock-img {
	    padding-bottom: 10px;
	}
	div#information-contact {
        width: 75%;
        margin: auto;
    }
}
/*20.10.19 end*/
@media (min-width: 678px) {
    #column-left .product-layout .col-md-3 {
		width: 100%;
	}
	#column-left+#content .product-layout .col-md-3 {
		width: 50%;
	}
	#column-left+#content+#column-right .product-layout .col-md-3 {
		width: 100%;
	}
	#content+#column-right .product-layout .col-md-3 {
		width: 100%;
	}
	.thumbnails .image-additional {
		width: 100px;
		height: 100px;
	}
    div.d-to {
    	margin: 40px;
    }
    .deliveryinfo ul.last-one {
        border: none;
    }
    .deliveryinfo ul li {
	    padding-left: 10px;
    }
    .product-list .product-thumb .image {
		float: left;
		padding: 0 15px;
	}
    #menu .dropdown:hover .dropdown-menu {
		display: block;
		width: max-content;
		margin-bottom: 10px;
	}
	.grid-gallery-txt {
	    font-size: 80px;
    }
    div.col-sm-5 {
        width: 20%;
    }
    .navbar-nav>li>a {
        padding: 8px 12px;    
        outline : none;
    }
    .col-sm-5.search-box {
        width: 15%;
    }
    /*20.10.19 start*/
    .slick-style-1 .slick-wrapper {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		will-change: transform;
		backface-visibility: hidden;
	}
	/*18.10.19 end*/
	.images-group.lb1.col-xs-12.col-sm-12.col-md-3.col-lg-3, .images-group.re5.col-xs-12.col-sm-12.col-md-3.col-lg-3 {
        width: 24%;
    }
    footer .footer-right li {
        padding-top: 7px;
    }
}
/*18.10.19 start*/
@media (min-width: 1200px) {
    .middle-layout {
        margin-bottom: 30px;
    }
    .images-group.top {
        display: inline-block;
        margin: auto;
        height: 50%;
        margin-bottom: 20px;
    }
    .row.middle-layout {
        margin: auto;
        padding: 0;
    }
    .custom-services .banner-info {
        padding: 21px 5px 18px;
        height: 83px;
    }
    .slick-slide img {
        border: 0;
	    display: block;
	    width: 550px; 
	    height: 400px;
    }
}/*18.10.19 end*/
@media (min-width: 1300px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear: left;
	}
	div#common-home.container {
	padding: 0 30px;
	}
	.navbar-collapse.collapse {
	   	display: inline-block;
	   	width: 70%;
	   	float: left;
	}
	/*15.10.19 start*/
	.product-layout .product-thumb .only-hover ul {
        right: 30%;
    }
    div.container {
	    width: 90%;
    }
    #top div.container {
	    width: 100%;
    }
    .custom-services .banner-info img {
        margin-right: 17px;
    }
}
@media (max-width: 1200px) {
	.product-grid .product-thumb .caption {
		min-height: 210px;
		padding: 0 10px;
	}
	.gallery-column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}
@media (min-width: 768px) and (min-width: 1200px) {
	.slick-style-1 .slick-slide-caption {
		transform-origin: 110% 50%;
	}
}
@media (min-width: 768px) and (min-width: 992px) {
	.slick-style-1 .slick-slide {
		padding-top: 20px;
	}
}
@media (min-width: 768px) and (min-width: 1800px) {
	.slick-style-1 .slick-slide {
		margin-top: 60px;
		margin-bottom: 80px;
	}
}
.thumb-ann {
	display: block;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.thumb-ann .thumb-ann__caption {
	color: #ffffff;
}
.thumb-ann>* {
	width: 100%;
}
.thumb-ann .divider-small::before {
	background: #ffffff;
}
.thumb-ann__image {
	width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
}
.thumb-ann__caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	z-index: 1;
	padding: 30px;
	background-color: rgba(32, 74, 67, 0.3);
	
}
.thumb-ann__caption::before {
	content: '';
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	left: 10px;
	z-index: 2;
	border: 1px solid rgba(255, 255, 255, 0.66);
	background-color: transparent;
	pointer-events: none;
}
.thumb-ann__caption>* {
	width: 100%;
	max-width: 420px;
	margin-left: auto;
	margin-right: auto;
}
.thumb-ann__title {
	color: inherit;
}
.thumb-ann__text {
	position: relative;
	padding-top: 20px;
}
.thumb-ann__text::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 3px;
	width: 50px;
	background: #ffffff;
}
* + .thumb-ann {
	margin-top: 30px;
}
@media (min-width: 1200px) {
	.thumb-ann.thumb-mixed_large .thumb-ann__title {
		font-size: 36px;
	}
}
html:not(.tablet):not(.mobile) .thumb-ann__caption::before {
	opacity: 0;
	transform: scale(1.15);
	will-change: transform;
}
html:not(.tablet):not(.mobile).ie-10 .thumb-ann__caption::before, html:not(.tablet):not(.mobile).ie-11 .thumb-ann__caption::before {
	transform: none;
}
html:not(.tablet):not(.mobile) .thumb-ann__title,
html:not(.tablet):not(.mobile) .thumb-ann__image,
html:not(.tablet):not(.mobile) .thumb-ann__text,
html:not(.tablet):not(.mobile) .thumb-ann__caption::before {
	transition: opacity .5s, transform .5s;
}
html:not(.tablet):not(.mobile) .thumb-ann__caption {
	transition: background .5s, transform .5s, opacity 2s;
}
html:not(.tablet):not(.mobile) .thumb-ann__title {
	opacity: 0;
	transform: translate3d(0, 20px, 0);
}
html:not(.tablet):not(.mobile) .thumb-ann__image {
	transform: scale(1.1);
}
html:not(.tablet):not(.mobile) .thumb-ann__caption {
	opacity: 0;
}
html:not(.tablet):not(.mobile) .thumb-ann__text {
	opacity: 0;
	transform: translate3d(0, 20px, 0) scale(1.1);
}
html:not(.tablet):not(.mobile) .thumb-ann:hover .thumb-ann__caption {
	background-color: rgba(32, 74, 67, 0.56);
}
html:not(.tablet):not(.mobile) .thumb-ann:hover .thumb-ann__caption::before {
	opacity: 1;
	transform: scale(1);
}
html:not(.tablet):not(.mobile) .thumb-ann:hover .thumb-ann__image {
	transform: scale(1);
}
html:not(.tablet):not(.mobile) .thumb-ann:hover .thumb-ann__title {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}
html:not(.tablet):not(.mobile) .thumb-ann:hover .thumb-ann__caption {
	opacity: 1;
}
html:not(.tablet):not(.mobile) .thumb-ann:hover .thumb-ann__text {
	opacity: 1;
	transform: translate3d(0, 0, 0) scale(1);
}
@media (min-width: 1200px) {
	.thumb-mixed_height-1 .thumb-ruby__caption {
		min-height: 427px;
	}
	.thumb-mixed_large .thumb-ruby__caption {
		min-height: 427px;
	}
	.thumb-mixed_large .thumb-ruby__caption>* {
		max-width: 400px;
	}
}
.heading-3 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.27;
}
.heading-3 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Josefin Sans", Helvetica, Arial, sans-serif;
}
.heading-3 a {
	color: inherit;
	outline : none;
	transition: .3s all ease;
}
.heading-3 a:hover {
	color: #00bd9d;
}
.heading-3 * {
	display: inline;
}
.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
}
.slick-track:before, .slick-track:after {
	content: "";
	display: table;
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	float: none;
	display: block;
	height: auto;
	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	display: block;
	height: 20px;
	width: 10px;
	line-height: 0;
	font-size: 0;
	cursor: pointer;
	background: rgba(21, 21, 21, 0.6);
	color: transparent;
	top: 50%;
	margin-top: -10px \9;
	/*lte IE 8*/
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	padding: 0;
	border: none;
	outline: none;
	z-index: 9;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	outline: none;
	background: transparent;
	color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
	opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
	opacity: 0.25;
}
.slick-prev:before, .slick-next:before {
	font-family: "Lato", Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 1;
	color: white;
	opacity: 0.75;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-prev {
	left: 0;
}
[dir="rtl"] .slick-prev {
	left: auto;
	right: 0;
}
.slick-prev:before {
	content: "â†";
}
[dir="rtl"] .slick-prev:before {
	content: "â†’";
}
.slick-next {
	right: 0;
}
[dir="rtl"] .slick-next {
	left: 0;
	right: auto;
}
.slick-next:before {
	content: "â†’";
}
[dir="rtl"] .slick-next:before {
	content: "â†";
}
.slick-dots {
	display: block;
	list-style: none;
	text-align: center;
	padding: 0;
	width: 100%;
}
.slick-dots li {
	position: relative;
	display: inline-block;
	margin: 0 5px;
}
.slick-dots li button {
	background: none;
	border: none;
	display: inline-block;
	padding: 0;
	outline: none;
	outline-offset: 0;
	cursor: pointer;
	-webkit-appearance: none;
	height: 4px;
	width: 20px;
	padding: 0;
	cursor: pointer;
	background: #e8e8e8;
	font-size: 0;
	line-height: 0;
	transition: .33s;
}
.slick-dots li button::-moz-focus-inner {
	border: none;
	padding: 0;
}
.slick-dots li.slick-active button {
	background: #00bd9d;
}
/*
* Animate.css
*/
.animated {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
html:not(.lt-ie10) .not-animated {
    opacity: 0;
}
/**
* FadeIn Keyframes Animation
*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
/**
* FadeInUp Keyframes Animation
*/
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
/**
* FadeInDown Keyframes Animation
*/
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
/**
* FadeInLeft Keyframes Animation
*/
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
/**
* FadeInRight Keyframes Animation
*/
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
/*
**
* FadeOut Keyframes Animation
*/
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
/**
* SlideInDown Keyframes Animation
*/
@-webkit-keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}
/**
* SlideInLeft Keyframes Animation
*/
@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInLeft {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}
/**
* SlideInRight Keyframes Animation
*/
@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideInRight {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}
/**
* SlideOutDown Keyframes Animation
*/
@-webkit-keyframes slideOutDown {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
@keyframes slideOutDown {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}
.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

.fadeInRightSmall {
    animation-name: fadeInRightSmall;
}

@keyframes fadeInRightSmall {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInLeftSmall {
    animation-name: fadeInLeftSmall;
}
@keyframes fadeInLeftSmall {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.fadeInUpSmall {
    animation-name: fadeInUpSmall;
    transform-origin: 50% 100%;
}
@keyframes fadeInUpSmall {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.slideInUpSmall {
    animation-name: slideInUpSmall;
    transform-origin: 50% 100%;
}
@keyframes slideInUpSmall {
    0% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(0);
    }
}
.scaleInVertical {
    animation-name: scaleInVertical;
    transform-origin: 50% 50%;
}
@keyframes scaleInVertical {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}
/*20.10.19 ends*/
/*22.10.19 starts*/
body {
    position: relative;
    overflow-x: hidden;
}
body,
html { height: 100%;}
.nav .open>a, 
.nav .open>a:hover, 
.nav .open>a:focus {background-color: transparent;}
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 0;
}
#sidebar-wrapper {
    position: absolute;
    z-index: 1000;
    left: 0;
    width: 0;
    height: 100%;
    margin-left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
#page-content-wrapper {
    width: 100%;
}
#wrapper.toggled #page-content-wrapper {
}
/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.navbar {
  padding: 0;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li {
    position: relative; 
    line-height: 20px;
    display: inline-block;
    width: -webkit-fill-available;
}
.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width 1s ease-in;
      -moz-transition:  width 1s ease-in;
       -ms-transition:  width 1s ease-in;
            transition: width 1s ease-in;
}
.sidebar-nav li:hover{
  background: skyblue;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width 1s ease-in;
      -moz-transition:  width 1s ease-in;
       -ms-transition:  width 1s ease-in;
            transition: width 1s ease-in;

}
.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px; 
    outline : none;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-header {
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 100%;
    display: inline-block;
}
.sidebar-brand {
    height: 65px;
    position: relative;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
   padding-top: 1em;
}
.sidebar-brand a {
    color: #ddd;
}
.sidebar-brand a:hover {
    color: #fff;
    text-decoration: none;
}
.dropdown-header {
    text-align: center;
    font-size: 1em;
    color: #ddd;
    background:#212531;
    background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%);
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
.dropdown-menu.show {
    top: 0;
}
ul.dropdown-menu.animated.fadeInLeft {
  display: block;
}
span.caret {
  display: inline-block;
}
.white-skin .side-nav .social a .fab, .white-skin .side-nav .social a .far, .white-skin .side-nav .social a .fas {
     font-size: 15px;
}
ul.collapsible.collapsible-accordion {
  margin: 0;
}
.product-layout.col-lg-3.col-md-3.col-sm-6.col-xs-12, .image-ad.col-xs-12.col-sm-12.col-md-4.col-lg-4.wow {
  padding: 5px;
}
/*22.10.19 ends*/
#cart ul.dropdown-menu.cart.pull-right.show {
    transform: translate3d(-90%, 20px, 0) !important;
}